html {
	height:100%;
}

.header {

	font-family: Georgia;
	color: #B4D8E7;
	font-weight:bold;
	font-size:90pt;
	text-align: center;
	height: 15%;
	background-image: url(images/bluebkg.jpg);
	position:relative;
}

body {
	width:100%;

    font-family: "Trebuchet MS";
    color: white;
    height: 100%
}



#map{
	
	position: relative;
	height: 83%
}

.bottom {
	text-align: center;
	background-image: url(images/greenbkg.jpg);
	height: 2% ;
	position: relative;
	